<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage Merry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../HomePage/css/styles.css">
    <link rel="stylesheet" href="./owlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./owlCarousel/owl.theme.default.min.css">
</head>
<body>
<!-- Top -->
<div class="top">
    <div class="container">
        <div class="top-left">
            <li>
                <i class="fas fa-user"></i>
                <span>My Account</span>
                <ul class="My-Account">
                    <li>Cart</li>
                    <li>Wishlist</li>
                    <li>Checkout</li>
                    <li>My Account</li>
                </ul>
            </li>
            <li>
                <i class="fas fa-lock"></i>
                <span>Login</span>
            </li>
        </div>
        <div class="top-right">
            <li class="top-right-language">
                <div class="top-right-language-img">
                    <img src="./image/top/Anh.png" alt="">
                </div>
                <span>English</span>
                <i class="fas fa-angle-down"></i>
                <ul class="top-right-language_dropdown">
                    <li>
                        <div class="top-right-language-img">
                            <img src="./image/top/Anh.png" alt="">
                        </div>
                        <span>English</span>
                    </li>
                    <li>
                        <div class="top-right-language-img">
                            <img src="./image/top/vietnam.png" alt="">
                        </div>
                        <span>Việt Nam</span>
                    </li>
                </ul>
            </li>
            <li class="top-right-currency">
                <span>USD</span>
                <i class="fas fa-angle-down"></i>
                <ul class="top-right-currency-dropdown">
                    <li>USD</li>
                    <li>VND</li>
                </ul>
            </li>
        </div>
    </div>
</div>

<!-- Nav-->
<div class="nav">
    <div class="container">
        <div class="nav-left">
            <img src="./image/logo.png" alt="">
        </div>
        <div class="nav-mid">
            <ul>
                <li class="red">
                    <span>HOME</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="Home">
                        <ul>
                            <li>HOMEPAGELAYOUTS</li>
                            <li class="red">Home</li>
                            <li>Home Page 2</li>
                            <li>Home Page 3</li>
                            <li></li>
                        </ul>
                        <ul>
                            <li>HOMEPAGELAYOUTS</li>
                            <li>Home Page LTR</li>
                            <li>Home Page RTL</li>
                            <li>Home Page Boxed</li>
                            <li>Home Page Full</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>SHOP</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="shop">
                        <ul>
                            <li><p>SHOP LAYOUTS</p></li>
                            <li><span>Left Sidebar Grid</span></li>
                            <li><span>Right Sidebar Grid</span></li>
                            <li><span>Full Width Grid</span></li>
                            <li><span>2 Columns Grid</span></li>
                            <li><span>3 Columns Grid</span></li>
                            <li><span>4 Columns Grid</span></li>
                        </ul>
                        <ul>
                            <li><p>SHOP PAGES</p></li>
                            <li>Shop</li>
                            <li>Cart</li>
                            <li>Wishlist</li>
                            <li>Checkout</li>
                        </ul>
                        <ul>
                            <li><p>PRODUCT TYPES</p></li>
                            <li><span>Simple Product</span></li>
                            <li><span>Variable Product</span></li>
                            <li><span>Group Product</span></li>
                            <li><span>External & Affiliate Product</span></li>
                            <li><span>Swatch Variation Image</span></li>
                            <li><span>Bundle Products</span></li>
                        </ul>
                        <ul>
                            <li><p>PRODUCT PAGES</p></li>
                            <li><span>Full Width</span></li>
                            <li><span>Left Sidebar</span></li>
                            <li><span>Right Sidebar</span></li>
                            <li><span>Featured Video</span></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>PROMOTION</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="promotion">
                        <ul>
                            <li><img src="./image/nav/img1.jpg" alt=""></li>
                            <li><span>ACCESSORIES</span></li>
                            <li><span>Maybellin Face Power</span></li>
                            <li><span>Chanel Mascara</span></li>
                            <li><span>Mascara For Full Lashes Mascara</span></li>
                            <li><span>Offical Cosme-Decom Maybellin Face</span></li>
                            <li><span>Offical Cosme-Decom</span></li>
                            <li><span>Lady Dior Mascara</span></li>
                        </ul>
                        <ul>
                            <li><img src="./image/nav/img2.jpg" alt=""></li>
                            <li><span>ACCESSORIES</span></li>
                            <li><span>Maybellin Face Power</span></li>
                            <li><span>Chanel Mascara</span></li>
                            <li><span>Mascara For Full Lashes Mascara</span></li>
                            <li><span>Offical Cosme-Decom Maybellin Face</span></li>
                            <li><span>Offical Cosme-Decom</span></li>
                            <li><span>Lady Dior Mascara</span></li>
                        </ul>
                        <ul>
                            <li><img src="./image/nav/img3.jpg" alt=""></li>
                            <li><span>ACCESSORIES</span></li>
                            <li><span>Maybellin Face Power</span></li>
                            <li><span>Chanel Mascara</span></li>
                            <li><span>Mascara For Full Lashes Mascara</span></li>
                            <li><span>Offical Cosme-Decom Maybellin Face</span></li>
                            <li><span>Offical Cosme-Decom</span></li>
                            <li><span>Lady Dior Mascara</span></li>
                        </ul>
                        <ul>
                            <li><img src="./image/nav/img4.jpg" alt=""></li>
                            <li><span>ACCESSORIES</span></li>
                            <li><span>Maybellin Face Power</span></li>
                            <li><span>Chanel Mascara</span></li>
                            <li><span>Mascara For Full Lashes Mascara</span></li>
                            <li><span>Offical Cosme-Decom Maybellin Face</span></li>
                            <li><span>Offical Cosme-Decom</span></li>
                            <li><span>Lady Dior Mascara</span></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>BLOG</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="blog">
                        <ul>
                            <li><p>BLOG LAYOUTS 1</p></li>
                            <li><span>Left Sidebar Grid</span></li>
                            <li><span>Right Sidebar Grid</span></li>
                            <li><span>Full Width Grid</span></li>
                            <li><span>Left Sidebar List</span></li>
                            <li><span>Right Sidebar List</span></li>
                        </ul>
                        <ul>
                            <li><p>BLOG LAYOUTS 2</p></li>
                            <li><span>2 Columns Grid</span></li>
                            <li><span>3 Columns Grid</span></li>
                            <li><span>4 Columns Grid</span></li>
                            <li><span>Masonry Grid</span></li>
                        </ul>
                        <ul>
                            <li><p>POST FORMATS</p></li>
                            <li><span>Post Formats Image</span></li>
                            <li><span>Post Formats Video</span></li>
                            <li><span>Post Formats Audio</span></li>
                            <li><span>Post Formats Gallery</span></li>
                            <li><span>Post Format Quote</span></li>
                        </ul>
                        <ul>
                            <li><p>POST LAYOUTS</p></li>
                            <li><span>Full Width</span></li>
                            <li><span>Left Sidebar</span></li>
                            <li><span>Right Sidebar</span></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>PORTFOLIOS</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="portfolios">
                        <ul>
                            <li>Portfolio 2 Columns</li>
                            <li>Portfolio 3 Columns</li>
                            <li>Portfolio 4 Columns</li>
                            <li>Portfolio Masonry</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>PAGES</span>
                    <i class="fas fa-sort-down"></i>
                    <div class="pages">
                        <ul>
                            <li>404 Page</li>
                            <li><span>Contact US</span></li>
                            <li><a href="aboutus.html">About US</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <li><i class="fas fa-search"></i></li>
            <li class="cart">
                <i class="fas fa-shopping-cart"></i>
                <div class="cart_noti">
                    <span>0</span>
                </div>
            </li>
        </div>
    </div>
</div>

<!-- Slider -->
<div class="slider">
    <div class="slider-item">
        <div class="slider-item-container">
            <img src="./image/slider/slider_2.jpg" alt="">
            <span>WISH YOU A</span>
            <span>Merry</span>
            <span>Christmas</span>
            <span>& HAPPY NEW YEAR</span>
            <span> 2019</span>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-item2-container">
            <img src="./image/slider/slider_1.png" alt="">
            <span>Special Offer</span>
            <span>NEW YEAR GIFT SALE <span>50%</span></span>
            <button>SHOP NOW</button>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-item3-container">
            <img src="./image/slider/slider_3.png" alt="">
            <span>Merry Christmas <span>2021</span></span>
            <span>BUY FIRST GIFT & GET 50% COUPON</span>
            <span>Merry Christmas & Happy New Year</span>
            <button>SHOP NOW</button>
        </div>
    </div>
    <div class="slider-button">
        <div class="slider-button-btn"></div>
        <div class="slider-button-btn"></div>
        <div class="slider-button-btn"></div>
    </div>
</div>

<!-- Product -->
<div class="product">
    <div class="product_bg">
        <img src="./image/product/background.png" alt="">
    </div>
    <div class="container">
        <div class="product_content">
            <div class="product_top">
                <img src="./image/product/img1.png" alt="">
                <img src="./image/product/img2.png" alt="">
                <div class="product_top_left">
                    <ul>
                        <li>
                            <span>00</span>
                            <p>Days</p>
                        </li>
                        <li>
                            <span>00</span>
                            <p>Hours</p>
                        </li>
                        <li>
                            <span>00</span>
                            <p>Mins</p>
                        </li>
                        <li>
                            <span>00</span>
                            <p>Secs</p>
                        </li>
                    </ul>
                </div>
                <div class="product_top_mid">
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_1.jpg" alt="">
                    </div>
                    <!-- <div class="product_top_mid_item">
                        <img src="./image/product/product_2.jpg" alt="">
                    </div>
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_3.jpg" alt="">
                    </div>
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_4.jpg" alt="">
                    </div>
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_5.jpg" alt="">
                    </div>
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_6.jpg" alt="">
                    </div>
                    <div class="product_top_mid_item">
                        <img src="./image/product/product_7.jpg" alt="">
                    </div> -->
                    <div class="product_top_mid_item_img">
                        <img src="./image/product/sale.png" alt="">
                        <span>-20%</span>
                    </div>
                </div>
                <div class="product_top_right">
                    <div class="product_top_right_t">
                        <span>Viverra Posuere Mattis Eu</span>
                        <div class="product_top_right_star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <span>0 Reiew(s)</span>
                        </div>
                        <div class="product_top_right_price">
                            <li>%<span>50</span></li>
                            <li><del>$<span>70</span></del></li>
                        </div>
                    </div>
                    <div class="product_top_right_b">
                        <p>Aenean in mattis velit. Mauris dolor ante, congue a sagittis quis, varius eu justo. In dictum feugiat sem quis efficitur. Vestibulum velit mi, vestibulum eu...</p>
                        <div class="product_top_right_btn">
                            <button>READ MODE</button>
                            <button><i class="fas fa-heart"></i></button>
                            <button><i class="fas fa-retweet"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_bottom">
                <div class="product_bottom_item active_1" >
                    <img src="./image/product/product_1.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_2.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_3.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_4.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_5.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_6.jpg" alt="">
                </div>
                <div class="product_bottom_item">
                    <img src="./image/product/product_7.jpg" alt="">
                </div>
                <div class="product_bottom_btn">
                    <i class="fas fa-chevron-circle-left"></i>
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="banner_content">
            <img src="./image/adds/img1.jpg" alt="">
        </div>
    </div>
</div>

<!-- FEATURED PRODUCTS -->
<div class="featured_products">
    <div class="container">
        <div class="featured_products_content">
            <div class="featured_products_content_top">
                <li>
                    <h2>FEATURED PRODUCTS</h2>
                </li>
                <li>
                    <button class="active_1">Birthday</button>
                    <button>Christmas</button>
                    <button>Easter</button>
                </li>
            </div>
            <div class="featured_products_content_bottom owl-carousel owl-theme">
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img1.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img2.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img3.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img4.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img5.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="featured_products_content_item">
                    <div class="featured_products_content_item_img">
                        <img src="./image/Featured_Products/img6.jpg" alt="">
                        <div class="featured_products_content_item_img_title">
                            <span>In Dictum Sapien Ut Elit Tincidunt</span>
                            <p>$55</p>
                        </div>
                    </div>
                    <div class="featured_products_content_item_hover">
                        <li>.</li>
                        <li>
                            <button><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="banner_content_1">
            <img src="./image/adds/img2.jpg" alt="">
            <img src="./image/adds/img3.jpg" alt="">
        </div>
    </div>
</div>


<!--NEW ARRIVALS-->
<div class="new_arrivals">
    <div class="container">
        <div class="new_arrivals_container">
            <h3>NEW ARRIVALS</h3>
            <div class="row">
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img1.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img2.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img3.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img4.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img5.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img6.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img7.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
                <div class="col-lg col-sm-6">
                    <div class="new_arrivals_container_content">
                        <img src="./image/new_arrivals/img8.jpg" alt="">
                        <h3>Viverra Posuere Mattis Eu</h3>
                        <p><span>$50</span><del>$70</del></p>
                    </div>
                    <div class="new_arrivals_container_hover">
                        <li>
                            <button class="add_view"><i class="far fa-eye"></i></button>
                        </li>
                        <li>
                            <button class="add_cart">Add to cart</button>
                            <button class="add_tym"><i class="far fa-heart"></i></button>
                            <button class="add_share"><i class="fas fa-retweet"></i></button>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add -->
<div class="add">
    <div class="container">
        <div class="add_container">
            <img src="./image/poster_add/img1.jpg" alt="">
            <img src="./image/poster_add/img2.jpg" alt="">
            <img src="./image/poster_add/img3.jpg" alt="">
        </div>
    </div>
</div>


<!-- FROM THE BLOG -->
<div class="the_blog">
    <div class="container">
        <h2>FROM THE BLOG</h2>
        <div class="blog_container row">
            <div class="col-lg-4">
                <img src="./image/blog/poster_blog.jpg" alt="">
            </div>
            <div class="col-lg-4 blog_container_item">
                <li><img src="./image/blog/img1.jpg" alt=""></li>
                <li>
                    <p>ULLAMCO LABORIS NISI UT ALIQUIP EX</p>
                    <p class="comment">
                        <span><i class="fas fa-comments"></i> 0 Comment</span>
                        <span><i class="fas fa-tags"></i> Fashion, New</span>
                    </p>

                </li>
                <li>
                    <i class="fas fa-caret-right"></i>
                    <span>Read More</span>
                </li>
            </div>
            <div class="col-lg-4 blog_container_item">
                <li><img src="./image/blog/img2.jpg" alt=""></li>
                <li>
                    <p>ULLAMCO LABORIS NISI UT ALIQUIP EX</p>
                    <p class="comment">
                        <span><i class="fas fa-comments"></i> 0 Comment</span>
                        <span><i class="fas fa-tags"></i> Fashion, New</span>
                    </p>
                </li>
                <li>
                    <i class="fas fa-caret-right"></i>
                    <span>Read More</span>
                </li>
            </div>
        </div>
    </div>
</div>


<!-- Signup -->
<div class="signup">
    <div class="border" style="border-style:dashed !important ;">
        <div class="container">
            <div class="signup_container">
                <div class="row">
                    <div class="col-lg-6 signup_container_item">
                        <li><img src="./image/icon_merry.png" alt=""></li>
                        <li>
                            <h3>Sign Up For Newsletter</h3>
                            <p>Sign up with us and get latest deals, offers & updates about store.</p>
                        </li>
                    </div>
                    <div class="col-lg-6 signup_container_item_right">
                        <input type="text" placeholder="Enter your email">
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<!-- Footer-->
<footer>
    <div class="footer_img">
        <img src="./image/footer.png" alt="">
    </div>
    <div class="container">
        <div class="footer_container row">
            <div class="col-lg">
                <h3>ABOUT US</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
            </div>
            <div class="col-lg">
                <h3>INFORMATION</h3>
                <li><a href="#">Product Support</a></li>
                <li><a href="#">PC setup & Support</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Extended Service Plans</a></li>
                <li><a href="#">Community</a></li>
            </div>
            <div class="col-lg">
                <h3>CUSTOMER SERVICE</h3>
                <li><a href="#">Shipping guide</a></li>
                <li><a href="#">Store location</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Customer point policy</a></li>
                <li><a href="#">Customer point policy</a></li>
            </div>
            <div class="col-lg">
                <h3>MY ACCOUNT</h3>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Help Center</a></li>
            </div>
            <div class="col-lg">
                <h3>CONTACT US</h3>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> No 40 Baria Sreet 133/2 NewYork City,NY,United States</a></li>
                <li><a href="#"><i class="fas fa-mobile-alt"></i>0123456789</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>contact@example.com</a></li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>@2022 WordPress Theme SW 9Merry. All Rights Reserved. Dessigned by <a href="#">PTN</a> </span>
            </div>
            <div class="col-lg-6 nam" >
                <li><i class="fab fa-cc-paypal"></i></li>
                <li><i class="fab fa-cc-visa"></i></li>
            </div>
        </div>
    </div>
</footer>






</body>
    <script src="./script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="./owlCarousel/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,   // show nút next và nút quay lại
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5  //chiều rộng 1000px để 4 ảnh
            }
        }
    })
    </script>
</html>






















