<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <div data-include="header"></div>

    <main>
        <div class="container">
            <div class="bread-crumb">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">Category 1</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        <span>Product</span>
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <div class="leftside">
                    <div class="leftside-categories">
                        <div class="leftside-title">
                            <h2><i class="far fa-gem"></i>Categories</h2>
                        </div>
                        <ul>
                            <li><a href="#">Category 1</a></li>
                            <li><a href="#">Category 2</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 4</a></li>
                            <li><a href="#">Category 5</a></li>
                            <li><a href="#">Category 6</a></li>
                            <li><a href="#">Category 7</a></li>
                        </ul>
                    </div>
    
                    <div class="leftside-bestsellers">
                        <div class="leftside-title">
                            <h2><i class="far fa-gem"></i>Best Sellers</h2>
                        </div>
                        <ul>
                            <li>
                                <div class="item-content">                           
                                    <a href="#"><img src="../image/Featured_Products/img1.jpg" width="100px" height="100px" alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 1"><h4>Product 1</h4></a>
                                        <span class="new-price">&euro; 49</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">                           
                                    <a href="#"><img src="../image/Featured_Products/img2.jpg" width="100px" height="100px" alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 2"><h4>Product 2</h4></a>
                                        <span class="new-price">&euro; 18</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">                           
                                    <a href="#"><img src="../image/Featured_Products/img3.jpg" width="100px" height="100px" alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 3"><h4>Product 3</h4></a>
                                        <span class="new-price">&euro; 58</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">                           
                                    <a href="#"><img src="../image/Featured_Products/img4.jpg" width="100px" height="100px" alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 4"><h4>Product 4</h4></a>
                                        <span class="new-price">&euro; 62</span>
                                    </div>
                                </div>
                            </li>
                    </div>
                </div>
                <div class="rightside">
                    <div class="product-detail">
                        <div class="images">
                            <div class="image">
                                <img src="../image/Featured_Products/img-test.jpg ">
                                <div class="expend">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </div>
                            </div>
                            <div class="sub-images">
                                <img src="../image/Featured_Products/img-test.jpg">
                                <img src="../image/Featured_Products/img-test2.jpg">
                                <img src="../image/Featured_Products/img-test3.jpg">
                                <img src="../image/Featured_Products/img-test4.png">
                                <img src="../image/Featured_Products/img-test5.jpg">
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-info-head">
                                <h1 class="title">Product 1</h1>
                                <div class="rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="prices">
                                    <span class="old-price">&euro; 60</span>
                                    <span class="new-price">&euro; 50</span>
                                </div>
                                <div class="status green">In Stock</div>
                            </div> 
                            <hr>
                            <div class="product-info-body">
                                <div class="addcart-wrapper">
                                    <div class="quantity-modifier">
                                        <input type="button" value="-" class="minus">
                                        <input type="number" value="1" class="quantity" min="1" step="1">
                                        <input type="button" value="+" class="plus">
                                    </div>
                                    <div class="addcart">
                                        <button type="submit">Add to cart</button>
                                    </div>
                                    <div class="wishlist">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </div>
                                <div class="social">
                                    <span class="title">Share</span>
                                    <a href="https://www.facebook.com/" class="social-link"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/" class="social-link"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/" class="social-link"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="categories-tag">
                                    <span class="title">Categories: </span>
                                    <a href="#" class="tag">Birthday</a>,
                                    <a href="#" class="tag">Easter</a>,
                                    <a href="#" class="tag">Wedding</a>
                                </div>
                            </div>
                            <small>
                                <span><i>Sold by: </i></span>
                                <b>This person</b>
                            </small>
                        </div>
                    </div>
                    <div class="tabs">
                        <input type="radio" name="tabs" id="description-tab" checked="checked">
                        <label for="description-tab">Description</label>
                        <div class="tab">
                            <h2>Description</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, error, delectus suscipit tempore tenetur odio maxime quasi sunt aliquam vitae rem veniam debitis nam illum distinctio provident molestiae. Nulla, autem! Expedita, recusandae labore quos deserunt soluta tempora optio illo? Tempore id magnam ea possimus quae nam suscipit, aliquam recusandae dolor nostrum pariatur illo fugiat fugit doloribus sit culpa corrupti odit expedita a, dolorem vitae nesciunt. In iure labore laborum a ipsa aperiam dolore! Consectetur assumenda autem deserunt aut? Rem, debitis. Sit, reiciendis libero! Fuga atque, culpa totam ea error obcaecati perferendis voluptatem expedita odit dolore excepturi nemo dolorem quod! Cumque!</p>
                        </div>

                        <input type="radio" name="tabs" id="review-tab">
                        <label for="review-tab">Review (<span>0</span>)</label>
                        <div class="tab">
                            <h2>Reviews </h2>
                            <div class="no-review">
                                <p> There are no review yet!</p>
                                <p>Be the first to review "<span>Product 1</span>".</p>
                            </div>
                            <div class="no-login">
                                <p>You must be <a href="#">logged in</a> to post a review.</p>
                            </div>
                            <div class="existed-review">
                                <div class="review">
                                    <div class="username-wrapper">
                                        <span class="username">Username</span>
                                        <div class="rating">
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati veritatis consectetur voluptate illo aspernatur? Ipsum facilis laboriosam mollitia atque, esse eligendi perferendis quae deleniti dolorum nesciunt voluptatem? Cumque, nihil modi?</p>
                                </div>
                                <p>Add a review</p>
                                <b>Your rating</b>
                                <div class="ratable">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <form id="form-review" action="" method="post">
                                    <textarea name="" id="" placeholder="Write your review here!..."></textarea>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="related-products"></div>
                </div>
            </div>
        </div>
    </main>

    <div data-include="footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/components.js"></script>
</body>
</html>