@import "general.css";
@import "header.css";
@import "footer.css";
a {
  color: #7d7d7d;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #d7182a;
  text-decoration: none;
}

.bread-crumb {
  margin: 30px 0;
}
.bread-crumb ul li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}
.bread-crumb ul li span,
.bread-crumb ul li i {
  color: #7d7d7d;
  font-weight: 500;
}

.bar-progress {
  margin: 0 auto;
}
.bar-progress .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.bar-progress .step .bullet {
  width: 34px;
  height: 34px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-progress .step .bullet::before, .bar-progress .step .bullet::after {
  height: 3px;
  width: calc(100% - 34px);
  position: absolute;
  left: calc(50% + 17px);
  bottom: 14px;
  content: "";
  background: #000;
}
.bar-progress .step .bullet::after {
  background: #d7182a;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar-progress .step p {
  font-size: 18px;
  font-weight: 500;
}
.bar-progress .step:last-child .bullet::before, .bar-progress .step:last-child .bullet::after {
  display: none;
}
.bar-progress .step .check {
  position: absolute;
  left: 47%;
  bottom: 2%;
  color: #fff;
  display: none;
}

.main-content {
  margin: 30px 0 30px -30px;
}
.main-content .buttons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.main-content button {
  background-color: #000;
  color: #fff;
  margin-left: 15px;
}
.main-content button:hover {
  background-color: #c01526;
  color: #000;
}

.card-label {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  border: solid 2px #b7b7b7;
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.card-input {
  display: none;
}
.card-input:checked + label {
  border: solid 2px green;
}
.card-input:checked + label i,
.card-input:checked + label h2 {
  color: green;
}

.wrapper {
  background-color: #f2f2f2;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
.wrapper div h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

#form-info div:not(:last-child) {
  margin-left: -15px;
}
#form-info div:not(:last-child) div {
  margin-left: 15px;
}
#form-info label {
  min-width: 100px;
}
#form-info input {
  padding: 5px;
  flex-grow: 1;
}

.wrapper a {
  background-color: #000;
  color: #fff;
}
.wrapper a:hover {
  background-color: #c01526;
  color: #000;
}

.or {
  margin-left: 15px;
}

.item-price {
  font-size: 20px;
  font-weight: 700;
}

.cart-item {
  margin-bottom: 10px;
  display: flex;
  background-color: #fff;
  padding: 20px;
}
.cart-item .image-item {
  display: inline-block;
}
.cart-item .image-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.cart-item .item-info {
  flex-grow: 1;
}
.cart-item .item-info .item-title {
  font-size: 18px;
  font-weight: 500;
}
.cart-item .calc {
  flex-shrink: 0;
  width: 140px;
  position: relative;
}
.cart-item .calc .item-price {
  position: absolute;
  right: 20px;
  top: 0;
}
.cart-item .calc .quantity-modifier {
  border: 1px solid #d7182a;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 0px;
  border: none;
}
.cart-item .calc .quantity-modifier .quantity {
  font-weight: 600;
}
.cart-item .calc .quantity-modifier input {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background-color: white;
  text-align: center;
}
.cart-item .calc .quantity-modifier .minus:hover,
.cart-item .calc .quantity-modifier .plus:hover {
  color: #c01526;
}
.cart-item .calc .quantity-modifier .minus,
.cart-item .calc .quantity-modifier .plus {
  background-color: #d7182a;
  color: #fff;
}
.cart-item .calc .quantity-modifier .minus:hover,
.cart-item .calc .quantity-modifier .plus:hover {
  color: #000;
}
.cart-item .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-left: 1px solid #ebebeb;
  padding-left: 20px;
}
.cart-item .delete-btn i {
  display: inline-block;
  font-size: 20px;
}
.cart-item .delete-btn i:hover {
  color: #c01526;
  cursor: pointer;
}

.delivery,
.payment {
  margin-left: -15px;
}

.delivery-method {
  user-select: none;
  width: 33.3333333333%;
  margin-right: 15px;
}
.delivery-method .card-label {
  border-radius: 20px;
}
.delivery-method .card-label .label-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.delivery-method .card-label .label-wrapper .delivery-top i,
.delivery-method .card-label .label-wrapper .delivery-top h2 {
  margin-bottom: 15px;
}
.delivery-method .card-label .label-wrapper .delivery-top i {
  font-size: 50px;
}
.delivery-method .card-label .label-wrapper .delivery-top p {
  font-size: 16px;
  color: #7d7d7d;
}
.delivery-method .card-label .label-wrapper .delivery-bottom {
  margin-top: auto;
}
.delivery-method .card-label .label-wrapper .delivery-bottom p {
  font-size: 14px;
}
.delivery-method .card-label .label-wrapper .delivery-bottom p:last-child {
  margin-bottom: 0;
}
.delivery-method .card-label .label-wrapper .delivery-bottom .delivery-price {
  font-size: 24px;
}
.delivery-method .card-label .label-wrapper .delivery-bottom .delivery-price span {
  font-size: 30px;
  font-weight: 500;
  color: #d7182a;
}

.payment-method {
  margin-bottom: 15px;
}
.payment-method input:checked ~ .extended {
  display: block;
}

.card-label {
  margin: 0;
  padding: 0 15px;
}
.card-label i {
  font-size: 30px;
  margin-right: 15px;
  line-height: 60px;
}

.extended {
  display: none;
  width: 420px;
  background-color: #fff;
  padding: 20px;
  margin: 15px 0;
}
.extended .form-group .label {
  display: inline-block;
  min-width: 120px;
}
.extended div:nth-child(3) .form-group {
  margin-bottom: 0;
}
.extended div:nth-child(3) .form-group input {
  width: 50px;
  text-align: center;
}
.extended input {
  padding: 5px;
  flex: 1;
}

.rightside {
  height: 330px;
}
.rightside .form-coupon {
  border: 1px solid #000;
  background-color: #fff;
  margin-bottom: 15px;
}
.rightside .form-coupon form .form-group {
  display: flex;
  margin-bottom: 0;
  padding-left: 10px;
}
.rightside .form-coupon form .form-group input {
  background-color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  line-height: 44px;
}
.rightside .form-coupon form .form-group input[type=text] {
  width: calc(100% - 39.7px);
}
.rightside .form-coupon form .form-group input[type=submit] {
  padding-right: 10px;
}
.rightside .subtotal,
.rightside .total,
.rightside .surcharge div {
  display: flex;
  justify-content: space-between;
}
.rightside .subtotal {
  margin-bottom: 16px;
}
.rightside .subtotal span {
  font-weight: 500;
  font-size: 18px;
}
.rightside .total span {
  font-size: 20px;
  font-weight: 700;
}

/*# sourceMappingURL=checkout.css.map */
