@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
@import "header.css";
@import "footer.css";

:root {
  --primary_color: #d7182a;
  --line_color: #cccccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins";
}

ul li,
li {
  list-style: none;
}

ul {
  margin-bottom: 0 !important;
}

/*--------------------------------------------------------- Slider ----------------------------------------------------------*/
.slider {
  width: 100%;
  height: 470px;
  overflow: hidden;
  position: relative;
}

.slider-item {
  top: 0;
  width: 100%;
  position: absolute;
}

.slider-item-container,
.slider-item2-container,
.slider-item3-container {
  width: 100%;
  height: 470px;
}

.slider-item-container img,
.slider-item2-container img,
.slider-item3-container img {
  position: relative;
  width: 100%;
  height: 470px;
  object-fit: cover;
  object-position: center;
}

.slider-item-container > span,
.slider-item2-container > span,
.slider-item2-container > button,
.slider-item3-container > span,
.slider-item3-container > button {
  color: #fff;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  animation: sliderAniLeft linear 1s;
}

.slider-item-container > span:nth-child(2) {
  top: 20%;
  font-size: 18px;
}

.slider-item-container > span:nth-child(3) {
  top: 22%;
  font-size: 45px;
  font-weight: bold;
  font-family: cursive;
}

.slider-item-container > span:nth-child(4) {
  top: 30%;
  font-size: 65px;
  font-weight: bold;
  font-family: cursive;
}

.slider-item-container > span:nth-child(5) {
  top: 48%;
  font-size: 24px;
  font-weight: bold;
}

.slider-item-container > span:nth-child(6) {
  top: 55%;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  animation: sliderAniBot1 linear 1s;
  transition-delay: 0.3s;
}

.slider-item-container .line {
  position: absolute;
  top: 58.5%;
  width: 9%;
  height: 1px;
  background: #fff;
  transition-delay: 0.3s;
  animation: sliderAniBot linear 1s;
}

.slider-item-container .line:nth-child(7) {
  left: 38%;
}

.slider-item-container .line:nth-child(8) {
  right: 38%;
}

@keyframes sliderAniLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes sliderAniBot {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sliderAniBot1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateX(-50%);
    opacity: 1;
  }
}

.slider-item2-container > span:nth-child(2) {
  font-size: 24px;
  top: 25%;
  font-weight: bold;
}

.slider-item2-container > span:nth-child(3) {
  top: 35%;
  font-size: 50px;
  font-weight: bold;
}

.slider-item2-container > span:nth-child(3) span {
  color: var(--primary_color);
}

.slider-item2-container button,
.slider-item3-container button {
  top: 65%;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: var(--primary_color);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item3-container > span:nth-child(2) {
  font-size: 24px;
  top: 25%;
  font-weight: bold;
}

.slider-item3-container > span:nth-child(2) span {
  color: var(--primary_color);
}

.slider-item3-container > span:nth-child(3) {
  top: 35%;
  font-size: 40px;
  font-weight: bold;
}

.slider-item3-container > span:nth-child(4) {
  top: 47%;
  font-size: 20px;
}

/*------------------------------ Slider Button ----------------------*/
.slider-button {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}

.slider-button-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary_color);
  margin: 0 5px;
}

/*--------------------------------------------------------- Product ----------------------------------------------------------*/
.product {
  width: 100%;
  position: relative;
}

.product_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.product_bg img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.product .container {
  padding: 120px 0 200px 0;
}

.product_top {
  width: 100%;
  background: #fff;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.product_top > img:nth-child(1),
.product_top > img:nth-child(2) {
  position: absolute;
  z-index: 1;
}

.product_top > img:nth-child(1) {
  top: -12px;
  left: 20px;
}

.product_top > img:nth-child(2) {
  right: 0;
  top: 0;
  transform: translate(70px, -75px);
}

.product_top_left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_top_left ul {
  border: 1px solid #cccccc;
  padding: 0 10px;
  margin: 50px 0;
}

.product_top_left ul li {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.product_top_left ul li span {
  color: var(--primary_color);
  font-size: 24px;
}

.product_top_left ul li p {
  font-size: 20px;
  color: #cccccc;
}

.product_top_mid {
  width: 40%;
  height: 100%;
  position: relative;
}

.product_top_mid_item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.product_top_mid_item img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.product_top_mid_item_img {
  position: absolute;
  right: 5%;
  top: 10%;
}

.product_top_mid_item_img img {
  width: 90%;
  object-fit: fill;
  object-position: center;
  position: relative;
}

.product_top_mid_item_img span {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_top_right {
  width: 40%;
  margin: 50px 0;
  padding: 0 40px 0 20px;
}

.product_top_right_t {
  padding: 35px 0;
  border-bottom: 1px solid #cccccc;
}

.product_top_right_t > span {
  font-size: 20px;
  color: #191919;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.product_top_right_star {
  margin: 10px 0;
}

.product_top_right_star i {
  font-size: 10px;
  color: #ffa370;
}

.product_top_right_star span {
  font-size: 15px;
  color: #909090;
  margin: 0 20px;
}

.product_top_right_price {
  display: flex;
}

.product_top_right_price li:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary_color);
}

.product_top_right_price li:nth-child(2) {
  font-size: 20px;
  color: #9a9090;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.product_top_right_b p {
  color: #9a9090;
  margin: 25px 0;
}

.product_top_right_btn {
  display: flex;
}

.product_top_right_btn button:nth-child(1) {
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  background: var(--primary_color);
  border: none;
  border-radius: 4px;
  padding: 0 20px;
}

.product_top_right_btn button:nth-child(2),
.product_top_right_btn button:nth-child(3) {
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
  padding: 8px 13px;
  font-size: 15px;
  border-radius: 4px;
  background-color: transparent;
  margin-left: 20px;
}

.product_bottom {
  height: 180px;
  margin: 30px 0;
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
}

.product_bottom_item {
  position: absolute;
  width: 15.35%;
  border: 1px solid var(--line_color);
}

.product_bottom_item:nth-child(2) {
  transform: translateX(110%);
}

.product_bottom_item:nth-child(3) {
  transform: translateX(220%);
}

.product_bottom_item:nth-child(4) {
  transform: translateX(330%);
}

.product_bottom_item:nth-child(5) {
  transform: translateX(440%);
}

.product_bottom_item:nth-child(6) {
  transform: translateX(550%);
}

.product_bottom_item:nth-child(7) {
  transform: translateX(660%);
}

.product_bottom_item img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.product_bottom_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*--------------------------------------------------------- Product ----------------------------------------------------------*/
.banner_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner_content_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner_content_1 img {
  width: 49%;
}

.banner .container {
  padding: 0 !important;
}
.banner_content img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

/*--------------------------------------------------------- Featured Product ----------------------------------------------------------*/
.featured_products .container {
  padding: 0 !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.featured_products_content {
  width: 100%;
}

.featured_products_content_top {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured_products_content_top li:nth-child(1) h2 {
  font-size: 24px;
  color: #191919;
  font-weight: bold;
}

.featured_products_content_top li:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.featured_products_content_top li:nth-child(2) button {
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 15px;
  color: var(--line_color);
  background: transparent;
  transition: all 0.5s;
}

.featured_products_content_top li:nth-child(2) button:hover {
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
}

.featured_products_content_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.featured_products_content_item_img:hover {
  animation: productAni linear 0.3s;
  cursor: pointer;
}

.featured_products_content_item_img_title {
  margin: 10px 0;
}

.featured_products_content_item_img_title span {
  font-size: 15px;
  display: flex;
  font-weight: 600;
  text-align: center;
}

.featured_products_content_item_img_title p {
  font-size: 20px;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: bold;
}

.featured_products_content_item_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.featured_products_content_item_hover li:nth-child(2) button {
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  border: none;
  background: var(--primary_color);
  width: 35px;
  height: 35px;
  margin-bottom: 100px;
  transform: translateY(-200px);
}

.featured_products_content_item_hover li:nth-child(3) {
  background: #fff;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(200px);
  animation: productAni linear 0.3s;
}

.add_cart {
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  background: var(--primary_color);
  border: none;
}

.add_tym,
.add_share {
  background: #fff;
  color: var(--primary_color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--primary_color);
  margin-left: 5px;
  font-size: 12px;
}

@keyframes productAni {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.owl-dots {
  display: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px !important;
  background: transparent !important;
  color: var(--primary_color) !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/*--------------------------------------------------------- NEW ARRIVALS ----------------------------------------------------------*/
.new_arrivals .container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 !important;
}

.new_arrivals_container {
  width: 100%;
}

.new_arrivals_container > h3 {
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0 20px 0;
}

.new_arrivals_container > .row {
  margin: 40px 0 !important;
}

.new_arrivals_container_content {
  position: relative;
}

.new_arrivals_container_content:hover .new_arrivals_container_hover {
  animation: newArrivalsAni linear 0.3s;
}

.new_arrivals_container_content img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.new_arrivals_container_content h3 {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  color: #191919;
  text-align: center;
}

.new_arrivals_container_content p {
  display: flex;
  justify-content: center;
}

.new_arrivals_container_content p span {
  color: #191919;
  font-size: 20px;
  font-weight: 600;
}

.new_arrivals_container_content p del {
  font-size: 18px;
  color: var(--line_color);
}

.new_arrivals_container_hover li:nth-child(1) {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.new_arrivals_container_hover li:nth-child(2) {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 30%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_arrivals_container_hover .add_view {
  width: 30px;
  height: 30px;
  background: var(--primary_color);
  color: #fff;
  border: none;
  border-radius: 50%;
}

@keyframes newArrivalsAni {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

/*---------------------------------------------------------  Add ----------------------------------------------------------*/
.add {
  margin: 50px 0;
}

.add .container {
  padding: 0 !important;
}

.add_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.add_container img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.add_container img:nth-child(2) {
  margin: 0 20px;
}

/*---------------------------------------------------------  FROM THE BLOG ----------------------------------------------------------*/
.the_blog .container {
  width: 100%;
  padding: 0 !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.the_blog .container > h2 {
  margin: 20px 0 30px 0;
  font-size: 25px;
  font-weight: 600;
}

.blog_container .col-lg-4:nth-child(1) img {
  width: 100%;
  object-position: center;
  object-fit: fill;
}

.blog_container_item li:nth-child(1) {
  width: 100%;
}

.blog_container_item li:nth-child(1) img {
  width: 100%;
  object-position: center;
  object-fit: fill;
}

.blog_container_item li:nth-child(2),
.blog_container_item li:nth-child(3) {
  width: 100%;
}

.blog_container_item li:nth-child(2) {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.blog_container_item li:nth-child(2) p {
  font-size: 15px;
  font-weight: bold;
  color: #191919;
}

.blog_container_item .comment {
  display: flex;
  align-items: center;
}

.blog_container_item .comment span {
  color: #9a9090;
  font-weight: normal;
  font-size: 12px;
  margin-right: 20px;
}

.blog_container_item li:nth-child(3) {
  font-size: 15px;
  font-weight: 600;
  color: #191919;
  padding: 10px 0;
}

/*---------------------------------------------------------  Signup ----------------------------------------------------------*/
.signup {
  width: 100%;
  height: 110px;
  background: rgb(210, 28, 27);
  background: linear-gradient(
    0deg,
    rgba(210, 28, 27, 1) 0%,
    rgba(255, 41, 41, 1) 100%
  );
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  width: 99%;
  height: 90%;
  border-style: dashed !important;
  border: 3px solid #fff !important;
}

.signup .container {
  padding: 0 !important;
  height: 100%;
}

.signup_container {
  height: 100%;
}

.signup_container .row {
  height: 100%;
}

.signup_container_item {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.signup_container_item li:nth-child(1) img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.signup_container_item li:nth-child(2) {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.signup_container_item li:nth-child(2) h3 {
  font-size: 16px;
  text-align: left;
}

.signup_container_item li:nth-child(2) p {
  font-size: 13px;
  text-align: left;
}

.signup_container_item_right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.signup_container_item_right input {
  border: none;
  background: #fff;
  padding: 5px 10px;
  font-size: 15px;
  color: #909090;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.signup_container_item_right button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  font-size: 15px;
  background: #00c74e;
  padding: 5px 10px;
}
