<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="a.html">vl</a>
    <div class="cart-items"></div>
    <div>
      <button class="prev">prev</button>
      <button class="next">next</button>
    </div>
    <script type="module">
      import { multiPageItem } from '../js/module/multipage.js';
      let promise = new Promise((rs) => {
        renderDiv();
        rs();
      });
      promise.then(() => multiPageItem());
      let itemArr = [];
      function renderDiv() {
        for (let index = 0; index < 22; index++) {
          let html = `<div class="cart-item">${index}<button class="delbtn">x</button></div>`;
          itemArr.push(html);
          document.querySelector('.cart-items').innerHTML += html;
        }
      }
      const delBtns = document.querySelectorAll('.delbtn');
      for (let i = 0; i < delBtns.length; i++) {
        const delBtn = delBtns[i];
        delBtn.addEventListener('click', (e) => {
          e.target.parentElement.remove();
        });
      }
    </script>
  </body>
</html>
