<!-- Footer-->
<footer>
    <div class="container">
        <div class="footer_container row">
            <div class="col-lg">
                <h3>Flow us</h3>
                <li><a href="#">Shipping guide</a></li>
                <li><a href="#">Store location</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Customer point policy</a></li>
                <li><a href="#">Customer point policy</a></li>
            </div>
            <div class="col-lg">
                <h3>Customer support</h3>
                <li><a href="#">return policy</a></li>
                <li><a href="#">Shopping guide</a></li>
                <li><a href="#">Payment Guide</a></li>
            </div>
            <div class="col-lg">
                <h3>CONTACT US</h3>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> No 40 Baria Sreet 133/2 NewYork City,NY,United
                        States</a></li>
                <li><a href="#"><i class="fas fa-mobile-alt"></i>0123456789</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>contact@example.com</a></li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>@2022 WordPress Theme SW 9Merry. All Rights Reserved. Dessigned by <a href="#">PTN</a> </span>
            </div>
        </div>
    </div>
</footer>