<!-- Footer-->
<footer>
    <div class="container">
        <div class="footer_container row">
            <div class="col-lg">
                <h3>Follow Us</h3>
                <li><a href="#">Facbook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Tiktok</a></li>
            </div>
            <div class="col-lg">
                <h3>Customer support</h3>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Legal & Privacy</a></li>
                <li><a href="#">Cookies Setting</a></li>
            </div>
            <div class="col-lg">
                <h3>Business</h3>
                <li><a href="#">Work With Us</a></li>
                <li><a href="#">Interest Based Advertising</a></li>
                <li><a href="#">About Us</a></li>
            </div>
        </div>
        <div class="row">
                <span class="mt-3" style="text-align: right;">@2022 Merry Theme by Team 1. All Rights Reserved.</span>
        </div>
    </div>
</footer>