<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-Login</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <!-- Top -->
    <div class="top">
        <div class="container">
            <div class="top-left">
                <li>
                    <i class="fas fa-user"></i>
                    <span>My Account</span>
                    <ul class="My-Account">
                        <li>Cart</li>
                        <li>Wishlist</li>
                        <li>Checkout</li>
                        <li><a href="./myAccount.html">My Account</a></li>
                    </ul>
                </li>
                <li class="login_open">
                    <i class="fas fa-lock"></i>
                    <span><a href="../layout/login.html">Login</a></span>
                </li>
            </div>
            <div class="top-right">
                <li class="top-right-language">
                    <div class="top-right-language-img">
                        <img src="../image/header/top/Anh.png" alt="">
                    </div>
                    <span>English</span>
                    <i class="fas fa-angle-down"></i>
                    <ul class="top-right-language_dropdown">
                        <li>
                            <div class="top-right-language-img">
                                <img src="../image/header/top/Anh.png" alt="">
                            </div>
                            <span>English</span>
                        </li>
                        <li>
                            <div class="top-right-language-img">
                                <img src="../image/header/top/vietnam.png" alt="">
                            </div>
                            <span>Việt Nam</span>
                        </li>
                    </ul>
                </li>
                <li class="top-right-currency">
                    <span>USD</span>
                    <i class="fas fa-angle-down"></i>
                    <ul class="top-right-currency-dropdown">
                        <li>USD</li>
                        <li>VND</li>
                    </ul>
                </li>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="header_left">
                <li>
                    <img src="../image/header/logo.png" alt="">
                </li>
                <li>
                    <span>LOGIN</span>
                </li>
            </div>
            <div class="header_right">
                <span>Do you need help?</span>
            </div>
        </div>
    </header>

    <div class="login">
        <div class="container">
            <div class="login_form">
                <div class="login_form_top">
                    <span>LOGIN</span>
                    <div class="login_form_top_noti">
                        <span>Login with QR code</span>
                        <div class="login_form_top_noti_right"></div>
                    </div>
                    <img src="../image/login/qrcode.png" alt="">
                </div>
                <div class="lgform">
                    <div class="form-group login_form_item">
                        <input type="text" class="form-control" id="username" placeholder="Email/Phone Number"
                            name="username">
                    </div>
                    <div class="form-group login_form_item">
                        <input type="password" class="form-control" id="password" placeholder="Enter password"
                            name="password">
                    </div>
                    <div class="form-group login_form_item">
                        <span class="loginError"></span>
                    </div>
                    <button class="btn btn-primary" onclick="Loginform();">Login</button>
                </div>
                <ul>
                    <li>
                        <span>Forgot password</span>
                    </li>
                    <li>
                        <span>login with SMS</span>
                    </li>
                </ul>
                <div class="login_form_chose">
                    <div class="line"></div>
                    <span>OR</span>
                    <div class="line"></div>
                </div>
                <div class="login_form_with">
                    <ul>
                        <li>
                            <img src="../image/login/facebook.png" alt="">
                            <span>Facebook</span>
                        </li>
                        <li>
                            <img src="../image/login/google.png" alt="">
                            <span>Google</span>
                        </li>
                        <li>
                            <img src="../image/login/apple.png" alt="">
                            <span>Apple</span>
                        </li>
                    </ul>
                </div>
                <div class="login_form_bot">
                    <span>Do you know Merry</span>
                    <a href="./registration.html"> Register now </a>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer-->
    <footer>
        <div class="footer_img">
            <img src="../image/footer/footer.png" alt="">
        </div>
        <div class="container">
            <div class="footer_container row">
                <div class="col-lg">
                    <h3>Flow us</h3>
                    <li><a href="#">Shipping guide</a></li>
                    <li><a href="#">Store location</a></li>
                    <li><a href="#">Affiliate</a></li>
                    <li><a href="#">Customer point policy</a></li>
                    <li><a href="#">Customer point policy</a></li>
                </div>
                <div class="col-lg">
                    <h3>Customer support</h3>
                    <li><a href="#">return policy</a></li>
                    <li><a href="#">Shopping guide</a></li>
                    <li><a href="#">Payment Guide</a></li>
                </div>
                <div class="col-lg">
                    <h3>CONTACT US</h3>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> No 40 Baria Sreet 133/2 NewYork City,NY,United
                            States</a></li>
                    <li><a href="#"><i class="fas fa-mobile-alt"></i>0123456789</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i>contact@example.com</a></li>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span>@2022 WordPress Theme SW 9Merry. All Rights Reserved. Dessigned by <a href="#">PTN</a> </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</body>

</html>