<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
        integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/compare.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div data-include="header"></div>

    <main>
        <div class="container">
            <div class="bread-crumb">
                <ul>
                    <li>
                        <a href="../index.html" class="product-link">Home</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#" class="product-link">Category 1</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        <span>Product</span>
                    </li>
                </ul>
            </div>
            <div class="main-content">

                <!-- Leftside -->
                <div class="leftside">
                    <div class="leftside-categories">
                        <div class="leftside-title">
                            <h2><i class="far fa-gem"></i>Categories</h2>
                        </div>
                        <ul>
                            <li><a href="#" class="product-link">Category 1</a></li>
                            <li><a href="#" class="product-link">Category 2</a></li>
                            <li><a href="#" class="product-link">Category 3</a></li>
                            <li><a href="#" class="product-link">Category 4</a></li>
                            <li><a href="#" class="product-link">Category 5</a></li>
                            <li><a href="#" class="product-link">Category 6</a></li>
                            <li><a href="#" class="product-link">Category 7</a></li>
                        </ul>
                    </div>

                    <div class="leftside-bestsellers">
                        <div class="leftside-title">
                            <h2><i class="far fa-gem"></i>Best Sellers</h2>
                        </div>
                        <ul>
                            <li>
                                <div class="item-content">
                                    <a href="#"><img src="../image/products/img1.jpg" width="100px" height="100px"
                                            alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 1" class="product-link">Product 1</a>
                                        <div class="prices">
                                            <span class="old-price">$ 60</span>
                                            <span class="new-price">$ 50</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <a href="#"><img src="../image/products/img2.jpg" width="100px" height="100px"
                                            alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 2" class="product-link">Product 2 Lorem ipsum dolor
                                            sit amet, consectetur adipisicing elit.</a>
                                        <div class="prices">
                                            <span class="new-price">$ 40</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <a href="#"><img src="../image/products/img3.jpg" width="100px" height="100px"
                                            alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 3" class="product-link">Product 3</a>
                                        <div class="prices">
                                            <span class="new-price">$ 58</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <a href="#"><img src="../image/products/img4.jpg" width="100px" height="100px"
                                            alt="" class="thumbnail"></a>
                                    <div class="item-info">
                                        <a href="#" title="Product 4" class="product-link">Product 4</a>
                                        <div class="prices">
                                            <span class="new-price">$ 62</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    </div>
                </div>

                <!-- Rightside -->
                <div class="rightside">
                    <div class="product-detail">
                        <div class="images">
                            <div class="image">
                                <img src="../image/products/img1.jpg ">
                                <div class="expend">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </div>
                            </div>
                            <div class="sub-images">
                                <img src="../image/products/img1.jpg">
                                <img src="../image/products/img2.jpg">
                                <img src="../image/products/img3.jpg">
                                <img src="../image/products/img4.jpg">
                                <img src="../image/products/img5.jpg">
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-info__top">
                                <div class="product-info__top-head">
                                    <h1 class="title">Product 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </h1>
                                    <div class="rating">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="prices">
                                        <span class="old-price">$ 60</span>
                                        <span class="new-price">$ 50</span>
                                    </div>
                                    <div class="status green">In Stock</div>
                                </div>
                                <div class="social">
                                    <span class="title">Share</span>
                                    <a href="https://www.facebook.com/" class="social-link"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/" class="social-link"><i
                                            class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/" class="social-link"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="product-info__bottom">
                                <div class="addcart-wrapper">
                                    <div class="quantity-modifier">
                                        <input type="button" value="-" class="minus">
                                        <input type="number" value="1" class="quantity" min="1" step="1">
                                        <input type="button" value="+" class="plus">
                                    </div>
                                    <div class="addcart">
                                        <button type="submit">
                                            <span>Add to cart</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                    <div class="wishlist">
                                        <i class="far fa-heart"></i>
                                    </div>
                                    <div class="compare">
                                        <i class="fas fa-retweet"></i>
                                    </div>
                                </div>
                                <div class="categories-tag">
                                    <span class="title">Categories: </span>
                                    <a href="#" class="product-link fst-italic">Birthday</a>,
                                    <a href="#" class="product-link fst-italic">Easter</a>,
                                    <a href="#" class="product-link fst-italic">Wedding</a>
                                </div>
                                <small>
                                    <span><i>Sold by: </i></span>
                                    <b>This person</b>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <input type="radio" name="tabs" id="description-tab" checked="checked">
                        <label for="description-tab">Description</label>
                        <div class="tab">
                            <h2>Description</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, error, delectus suscipit
                                tempore tenetur odio maxime quasi sunt aliquam vitae rem veniam debitis nam illum
                                distinctio provident molestiae. Nulla, autem! Expedita, recusandae labore quos deserunt
                                soluta tempora optio illo? Tempore id magnam ea possimus quae nam suscipit, aliquam
                                recusandae dolor nostrum pariatur illo fugiat fugit doloribus sit culpa corrupti odit
                                expedita a, dolorem vitae nesciunt. In iure labore laborum a ipsa aperiam dolore!
                                Consectetur assumenda autem deserunt aut? Rem, debitis. Sit, reiciendis libero! Fuga
                                atque, culpa totam ea error obcaecati perferendis voluptatem expedita odit dolore
                                excepturi nemo dolorem quod! Cumque!</p>
                        </div>

                        <input type="radio" name="tabs" id="review-tab">
                        <label for="review-tab">Review (<span>0</span>)</label>
                        <div class="tab">
                            <h2>Reviews </h2>
                            <div class="no-review">
                                <p> There are no review yet!</p>
                                <p>Be the first to review "<span>Product 1</span>".</p>
                            </div>
                            <div class="no-login">
                                <p>You must be <a href="#">logged in</a> to post a review.</p>
                            </div>
                            <div class="existed-review">
                                <div class="review">
                                    <div class="username-wrapper">
                                        <span class="username">Username</span>
                                        <div class="rating">
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati veritatis
                                        consectetur voluptate illo aspernatur? Ipsum facilis laboriosam mollitia atque,
                                        esse eligendi perferendis quae deleniti dolorum nesciunt voluptatem? Cumque,
                                        nihil modi?</p>
                                </div>
                                <p>Add a review</p>
                                <b>Your rating</b>
                                <div class="ratable">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <form id="form-review" action="" method="post">
                                    <textarea name="" id="" placeholder="Write your review here!..."></textarea>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="related-products">
                        <h3 class="title">Related Products</h3>
                        <hr>
                        <ul id="autoWidth" class="cs-hidden">
                            <li class="item-a">
                                <div class="box">
                                    <div class="slider">
                                        <img src="../image/products/img1.jpg" alt="">
                                        <div class="view">
                                            <i class="far fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="box-detail">
                                        <div class="box-detail__top">
                                            <a href="#" class="product-link">Product1 Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.</a>
                                        </div>
                                        <div class="box-detail__bottom">
                                            <div class="prices">
                                                <span class="old-price">$ 60</span>
                                                <span class="new-price">$ 50</span>
                                            </div>
                                            <div class="buttons">
                                                <div class="addcart">
                                                    <button type="submit">Add to cart</button>
                                                </div>
                                                <div class="wishlist">
                                                    <i class="far fa-heart"></i>
                                                </div>
                                                <div class="compare">
                                                    <i class="fas fa-retweet"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-b">
                                <div class="box">
                                    <div class="slider">
                                        <img src="../image/products/img2.jpg" alt="">
                                        <div class="view">
                                            <i class="far fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="box-detail">
                                        <div class="box-detail__top">
                                            <a href="#" class="product-link">Product1 Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.</a>
                                        </div>
                                        <div class="box-detail__bottom">
                                            <div class="prices">
                                                <span class="old-price">$ 60</span>
                                                <span class="new-price">$ 50</span>
                                            </div>
                                            <div class="buttons">
                                                <div class="addcart">
                                                    <button type="submit">Add to cart</button>
                                                </div>
                                                <div class="wishlist">
                                                    <i class="far fa-heart"></i>
                                                </div>
                                                <div class="compare">
                                                    <i class="fas fa-retweet"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-c">
                                <div class="box">
                                    <div class="slider">
                                        <img src="../image/products/img3.jpg" alt="">
                                        <div class="view">
                                            <i class="far fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="box-detail">
                                        <div class="box-detail__top">
                                            <a href="#" class="product-link">Product1 Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.</a>
                                        </div>
                                        <div class="box-detail__bottom">
                                            <div class="prices">
                                                <span class="old-price">$ 60</span>
                                                <span class="new-price">$ 50</span>
                                            </div>
                                            <div class="buttons">
                                                <div class="addcart">
                                                    <button type="submit">Add to cart</button>
                                                </div>
                                                <div class="wishlist">
                                                    <i class="far fa-heart"></i>
                                                </div>
                                                <div class="compare">
                                                    <i class="fas fa-retweet"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-d">
                                <div class="box">
                                    <div class="slider">
                                        <img src="../image/products/img4.jpg" alt="">
                                        <div class="view">
                                            <i class="far fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="box-detail">
                                        <div class="box-detail__top">
                                            <a href="#" class="product-link">Product1 Lorem ipsum dolor sit amet
                                                consectetur adipisicing elit.</a>
                                        </div>
                                        <div class="box-detail__bottom">
                                            <div class="prices">
                                                <span class="old-price"></span>
                                                <span class="new-price">$ 50</span>
                                            </div>
                                            <div class="buttons">
                                                <div class="addcart">
                                                    <button type="submit">Add to cart</button>
                                                </div>
                                                <div class="wishlist">
                                                    <i class="far fa-heart"></i>
                                                </div>
                                                <div class="compare">
                                                    <i class="fas fa-retweet"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-e">
                                <div class="box">
                                    <div class="slider">
                                        <img src="../image/products/img5.jpg" alt="">
                                        <div class="view">
                                            <i class="far fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="box-detail">
                                        <div class="box-detail__top">
                                            <a href="#" class="product-link">Product1</a>
                                        </div>
                                        <div class="box-detail__bottom">
                                            <div class="prices">
                                                <span class="old-price">$ 60</span>
                                                <span class="new-price">$ 50</span>
                                            </div>
                                            <div class="buttons">
                                                <div class="addcart">
                                                    <button type="submit">Add to cart</button>
                                                </div>
                                                <div class="wishlist">
                                                    <i class="far fa-heart"></i>
                                                </div>
                                                <div class="compare">
                                                    <i class="fas fa-retweet"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="compare-product">
        <p></p>
        <div style="padding-left: 15px;">
            <div></div>
            <div>Name:</div>
            <div>Img:</div>
            <div>Brand:</div>
            <div>Made in:</div>
            <div>Date:</div>
            <div>Price:</div>
            <div>Size:</div>
            <div>Rate:</div>
            <div>Anniversary:</div>
        </div>
        <div class="compare-left">
            <div class="minhi">
                <input type="text" class="product-compare-left" id="datalist-left">
                <button>Search</button>
            </div>
        </div>
        <div class="compare-right">
            <div class="minhi">
                <input type="text" class="product-compare-right">
                <button>Search</button>
            </div>
        </div>

        <div class="compare-close"></div>
    </div>
    <!-- <div data-include="footer"></div> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"
        integrity="sha512-Gfrxsz93rxFuB7KSYlln3wFqBaXUc1jtt3dGCp+2jTb563qYvnUBM/GP2ZUtRC27STN/zUamFtVFAIsRFoT6/w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../js/product.js"></script>
    <script src="../js/compare.js"></script>

</body>

</html>