@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

:root{
    --primary_color: #D7182A;
    --line_color: #CCCCCC;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Poppins';
}

ul li, li{
    list-style: none;
}

ul {
    margin-bottom: 0 !important;
}

/*--------------------------------------------------------------------- TOP ----------------------------------------------------------------------*/
.top {
    width: 100%;
    height: 40px;
    position: relative;
    background-image: url(./image/top/top.png);
    color: #fff;
    font-size: 12px;
}

.top .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-left,
.top-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.top-right {
    width: 50%;
    justify-content: right;
}

.top-left li:nth-child(1) span,
.top-right li:nth-child(1) i{
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.top-left li:nth-child(1),
.top-right li:nth-child(1){
    cursor: default;
}

.top-left li:nth-child(2),
.top-right li:nth-child(2){
    padding-left: 15px;
    cursor: pointer;
}

.top-left li i,
.top-right li i{
    margin: 0 5px ;
}

.top-left >li:nth-child(1){
    height: 100%;
    margin-top: 4.5%;
    position: relative;
} 

@keyframes topLeftAni {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.top-left li:nth-child(1):hover .My-Account,
.top-right-currency:hover .top-right-currency-dropdown{
    display: flex;
}

.My-Account,
.top-right-language_dropdown,
.top-right-currency-dropdown {
    z-index: 2;
    position: absolute;
    color: #000;
    flex-direction: column;
    justify-content: left;
    background: #fff;
    width: 170px;
    box-shadow: 5px 5px 5px 0px rgba(171,171,171,1);
    top: 25px;
    animation: topLeftAni linear 0.4s;
    display: none;
}

.My-Account li,
.top-right-currency-dropdown li{
    width: 100%;
    padding: 10px;
}

.My-Account li:hover,
.top-right-language_dropdown li:hover,
.top-right-currency-dropdown li:hover{
    background: rgb(240, 239, 239);
    color: #D7182A;
}

.top-right-language,
.top-right-currency {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.top-right-language:hover .top-right-language_dropdown{
    display: flex;
}

.top-right-language-img {
    margin-right: 10px;
    height: 12px;
    margin-bottom: 5px;
}

.top-right-language-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.top-right-language_dropdown,
.top-right-currency-dropdown {
    width: 150px;
    top: 38px;
} 

.top-right-language_dropdown li{
    display: flex;
    padding: 10px;
}

.top-right-currency-dropdown {
    width: 70px;
}


/*----------------------------------------------------------------- NAV-----------------------------------------------------------------*/
.nav{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--line_color);
}

.nav .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left{
    width: 15%;
    height: 50%;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.nav-left img{
    object-fit: fill;
    object-position: center;
    cursor: pointer;
}

.nav-mid{
    width: 75%;
    height: 100%;
}

.nav-mid>ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mid>ul>li{
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    height: 70%;
    display: flex;
    align-items: center;
}

.nav-mid>ul>li>i{
    margin-left: 5px;
    margin-bottom: 8px;
}

.nav-right{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-right li{
    font-size: 18px;
    cursor: pointer;
}

.nav-right li:nth-child(1){
    margin: 0 15px;
}

.cart {
    position: relative;
}

.cart_noti {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary_color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: -30%;
    right: -30%;
}

/*--------------------------------------------------------- Drop down nav ----------------------------------------------------------*/
.nav-mid>ul>li{
    position: relative;
}

.nav-mid>ul>li:hover{
    color: var(--primary_color);
}

@keyframes navAni {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.Home, .shop, .promotion, .blog, .portfolios, .pages{
    z-index: 2;
    position: absolute;
    background: #fff;
    box-shadow: 5px -3px 5px 0px rgba(171,171,171,0.5);
    padding: 15px;
    justify-content: center;
    color: #000;
    border: 0.5px solid var(--line_color);
    top: 50px;
    animation: navAni linear 0.3s  ;
    display: none;
    color: rgb(148, 148, 148);
}

.Home>ul, .shop>ul, .promotion>ul ,.blog>ul ,.portfolios>ul, .pages>ul{
    padding: 0 10px 0 20px;
}

.Home>ul>li:nth-child(1), .shop>ul>li:nth-child(1), 
.promotion>ul>li:nth-child(2), .blog>ul>li:nth-child(1){ 
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid var(--line_color);
    color: #000;
}

.nav-mid>ul>li:nth-child(1):hover .Home, 
.nav-mid>ul>li:nth-child(2):hover .shop,
.nav-mid>ul>li:nth-child(3):hover .promotion,
.nav-mid>ul>li:nth-child(4):hover .blog,
.nav-mid>ul>li:nth-child(5):hover .portfolios,
.nav-mid>ul>li:nth-child(6):hover .pages{ 
    display: flex;
}

.Home>ul>li, .shop>ul>li, .promotion>ul>li,
.blog>ul>li, .portfolios>ul>li, .pages>ul>li{ 
    padding: 10px 0;
    font-size: 13px;
    font-weight: normal;
}

.Home>ul>li:hover, .shop>ul>li:hover, .promotion>ul>li:hover,
.blog>ul>li:hover, .portfolios>ul>li:hover, .pages>ul>li:hover{ 
    color: var(--primary_color);
}

.Home>ul>li:nth-child(1):hover, .shop>ul>li:nth-child(1):hover,
.promotion>ul>li:nth-child(2):hover, .blog>ul>li:nth-child(1):hover {
    color: #000;
}

/*------------------- HOME -------------------*/
.Home {
    left: -100px;
}

/*------------------------- SHOP ----------------------*/
.shop {
    left: -300px;
}
.shop>ul>li,
.blog>ul>li{
    width: 180px;
}

/*----------------------  PROMOTION ----------------------------*/
.promotion {
    left: -450px;
}

.promotion>ul>li:nth-child(1) {
    overflow: hidden;
}

.promotion>ul>li:nth-child(1) img{
    object-fit: fill;
    object-position: center;
}


/*------------------- BLOG ------------------------*/
.blog {
    left: -450px;
}

/*---------------- PORTFOLIOS ------------------------*/
.portfolios {
    left: -50px;
}

.portfolios>ul>li{
    width: 150px;
}

/*------------ PAGES -------------------*/
.pages {
    left: -50px;
}

.pages>ul>li{
    width: 120px;
}
/* --------------------------------------------------------  Section -------------------------------------------------------- */
.section{
    height:250px ;
    width: 1150px;
    margin-left: 100px;
    
    
}
.wishlist-main-content{
    display: flex;
    justify-content: left;
    

}
.wrapper {
    background-color: #f2f2f2;
   
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
  }

.bread-crumb {
    margin: 30px 0;
    
  }
  .bread-crumb ul li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .bread-crumb ul li a,
  .bread-crumb ul li i,
  .bread-crumb ul li span {
    color: #7d7d7d;
    text-decoration: none;
    font-weight: 500;
  }
  .bread-crumb ul li a:hover {
    color: #d7182a;
  }
   #contents table{
    text-align: center;
    color: #554d4d;
    width: 1100px;
    line-height: 2.5;
       
  }
  #btn-delete{
     text-align: center;
    
      
  }
  
  
  
 
/*---------------------------------------------------------  Footer ----------------------------------------------------------*/
footer{
    width: 100%;
    position: relative;
    height: 300px;
}

.footer_img{
    position: absolute;
    width: 100%;
    height: 300px;
}

.footer_img img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
}

footer .container{
    padding: 0 !important;
}

.footer_container{
    border-bottom: 1px solid #909090;
    padding: 10px 0 20px 0;
}


.footer_container .col-lg h3{
    font-size: 16px;
    margin: 40px 0 20px 0;
    font-weight: 600;
}

.footer_container .col-lg li a,
.footer_container .col-lg span{
    font-size: 13px;
    color: #191919;
    padding: 5px 0;
}

.row:nth-child(2) a{
    color: var(--primary_color);
}

.row:nth-child(2) .nam{
    display: flex;
    width: 100%;
    justify-content: right;
    font-size: 30px;
}

.active_1{
    border: 2px solid var(--primary_color) !important;
    color: var(--primary_color) !important;
}

.red{
    color: var(--primary_color);
}

