#alert-all-message {
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  padding: 10px 30px;
  text-align: center;
  background-color: rgb(226, 226, 226);
  border: solid 3px;
  border-radius: 5px;
  animation: 0.5s ease-in forwards;
  cursor: pointer;
  width: 500px;
  top: -250px;
}

#alert-all-message>div:first-child {
  text-align: left;
}

#alert-all-message>div:last-child:hover {
  cursor: pointer;
  color: black;
}


@keyframes showup {
  from {
    top: -250px;
  }

  to {
    top: 10px;
  }
}

@keyframes showoff {
  from {
    top: 10px;
  }

  to {
    top: -250px;
  }
}