.compare-product {
  position: fixed;
  top: 30px;
  left: 60px;
  right: 60px;
  bottom: 30px;
  z-index: 999;

  display: none;
  grid-template-columns: 150px 1fr 1fr;
  color: black;

  animation: 1s;
  box-shadow: 5px 5px 15px;
}

.compare-product > div {
  border: 1px solid black;
}

.compare-product p {
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  opacity: 0.5;
  background-color: black;
  z-index: -1;
}

.compare-left,
.compare-left-1,
.compare-right {
  display: grid;
  grid-template-rows: 30px 180px repeat(7, 30px);
  background-color: white;
  gap: 3px;
  padding-top: 10px;
}

.compare-left > div,
.compare-right > div,
.compare-left-1 > div {
  text-align: center;
}

.compare-left img,
.compare-right img {
  width: 100%;
  height: 100%;
  padding: 20px;
  object-fit: contain;
}

.compare-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: red !important;
}

.compare-close::after {
  content: 'x';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
}

/* .minhi {
    display: flex !important;
    justify-content: center;
    flex-flow: row wrap;
} */

.minhi {
  padding: 10px;
  background-color: white;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 250px max-content;
}

#list-compare-left,
#list-compare-right {
  display: none;
  overflow-y: scroll;
  max-height: 200px;
  min-height: 20px;
  width: 100%;
  z-index: 999;
  background-color: white;
  border: 1px solid black;
  text-align: left;
  position: absolute;
}

#list-compare-left:hover,
#list-compare-right:hover {
  display: block;
}

#list-compare-left > div,
#list-compare-right > div {
  display: flex;
  flex-flow: row wrap;

  padding: 5px;
}

#list-compare-left > div:hover,
#list-compare-right > div:hover {
  cursor: pointer;
  background-color: red;
}

.compare-product input,
.compare-product button {
  width: 100%;
  height: 40px;
  padding: 5px;
}

@keyframes popup {
  from {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
    z-index: -999;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bgpopup {
  from {
    opacity: 0;
    z-index: -9;
    transition: all 0.3s ease-out;
  }

  to {
    z-index: 0;
    opacity: 0.8;
  }
}
