@import './general.css';
@import './header.css';
@import './responsive/rpHeader.css';
@import './footer.css';
ul {
  padding-left: 0;
}

.bread-crumb {
  margin: 30px 0;
}
.bread-crumb ul li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}
.bread-crumb ul li a,
.bread-crumb ul li i,
.bread-crumb ul li span {
  color: #7d7d7d;
  text-decoration: none;
  font-weight: 500;
}
.bread-crumb ul li a:hover {
  color: #d7182a;
}

.image img {
  width: 100%;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 30px -30px;
}
.contacts div {
  width: calc(33.3333333333% - 30px);
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.contacts div i {
  border: #b7b7b7 solid 1px;
  color: #b7b7b7;
  border-radius: 50%;
  padding: 15px;
  margin-right: 10px;
  font-size: 24px;
}
.contacts div .contacts-content {
  font-size: 16px;
  font-weight: 500;
  overflow-wrap: anywhere;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 30px -30px;
}
.wrapper .map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}
.wrapper .map,
.wrapper .form {
  width: calc(50% - 30px);
  margin-left: 30px;
}
.wrapper .form-group:not(:last-child) {
  margin-bottom: 20px;
}
.wrapper .invalid input,
.wrapper .invalid textarea {
  border: 1px solid red;
}
.wrapper .invalid small {
  display: block;
  padding-top: 10px;
  font-style: italic;
  color: red;
}
.wrapper .valid input,
.wrapper .valid textarea {
  border: 1px solid green;
}
.wrapper .invalid input,
.wrapper .invalid textarea {
  border: 1px solid red;
}
.wrapper .invalid small {
  display: block;
  padding-top: 10px;
  font-style: italic;
  color: red;
}
.wrapper .valid input,
.wrapper .valid textarea {
  border: 1px solid green;
}
.wrapper .form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}
.wrapper p {
  text-align: justify;
  color: #7d7d7d;
  font-size: 18px;
}
.wrapper input,
.wrapper textarea {
  width: 100%;
  padding: 10px;
  border: #b7b7b7 solid 1px;
  border-radius: 5px;
  resize: none;
}
.wrapper [type='submit'] {
  background-color: #d7182a;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  width: fit-content;
  height: 44px;
  font-size: 13px;
  font-weight: 500;
  padding: 0 20px;
  text-transform: uppercase;
}
.wrapper [type='submit']:hover {
  background-color: #a91321;
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .contacts,
  .wrapper {
    flex-direction: column;
    margin-left: 0;
  }

  .contacts div {
    width: 100%;
    margin-left: 0;
  }
  .contacts div:not(:last-child) {
    margin-bottom: 20px;
  }
  .contacts div .contacts-content {
    font-size: 20px;
  }

  .wrapper .map,
  .wrapper .form {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
