@import '../css/general.css';

footer {
  width: 100%;
  position: relative;
  height: 300px;
  background-image: url(../image/footer/footer.png);
}

.footer_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
}

.footer_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer .container {
  padding: 0 !important;
}

.footer_container {
  border-bottom: 1px solid #909090;
  padding: 10px 0 20px 0;
}

.footer_container .col-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.footer_container .col-lg h3 {
  font-size: 16px;
  margin: 40px 0 20px 0;
  font-weight: 600;
}

.footer_container .col-lg li a,
.footer_container .col-lg span {
  font-size: 13px;
  color: #191919;
  padding: 5px 0;
}

.row:nth-child(2) a {
  color: var(--primary_color);
}

.row:nth-child(2) .nam {
  display: flex;
  width: 100%;
  justify-content: right;
  font-size: 30px;
}
