@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
:root {
  --primary_color: #d7182a;
  --line_color: #cccccc;
  --text_color: #7d7d7d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Poppins';
  position: relative;
}

ul li,
li {
  list-style: none;
}

ul {
  margin-bottom: 0 !important;
  padding-left: 0;
}

a {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #000 !important;
}

a:hover {
  color: var(--primary_color) !important;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
