@import '../css/general.css';

#btnScrollTop,
.call,
.contact {
  z-index: 500;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(217, 34, 51);
  background: linear-gradient(
    135deg,
    rgba(217, 34, 51, 1) 0%,
    rgba(254, 37, 94, 1) 100%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 20px;
}

#btnScrollTop i,
.call i,
.contact i {
  font-size: 20px;
}

.call,
.contact {
  margin: 10px 0;
}

.left {
  z-index: 500;
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.contact span {
  color: #fff;
  font-size: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnScrollTop:active {
  background-color: var(--primary_color);
}

/*--------------------------------------------------------------------- TOP ----------------------------------------------------------------------*/
.top {
  width: 100%;
  height: 40px;
  position: relative;
  background-image: url(../image/header/top/top.png);
  color: #fff;
  font-size: 12px;
}

.top .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.top-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.top-left li:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
}

.top-left li:nth-child(1) span {
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.top-left li:nth-child(1) {
  cursor: default;
}

.top-left > li:nth-child(2) {
  padding-left: 15px;
  cursor: pointer;
}

.top-left li i {
  margin: 0 5px;
}

.top-left > li:nth-child(1) {
  position: relative;
}

@keyframes topLeftAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login_open .show-login {
  display: inline-block;
}
.login_open .show-logout:hover {
  color: #000 !important;
  cursor: pointer;
}
.login_open .username {
  font-weight: bold;
}

.login_open .show-welcome,
.login_open .show-logout {
  display: none;
}
.login_open span {
  margin-right: 10px;
}
.login_open span a {
  color: #fff !important;
}

.login_open span a:hover {
  text-decoration: none;
  color: #000 !important;
}

.top-left li:nth-child(1):hover .My-Account {
  display: flex;
}

.My-Account {
  z-index: 2;
  position: absolute;
  color: #000;
  flex-direction: column;
  justify-content: left;
  background: #fff;
  width: 170px;
  box-shadow: 5px 5px 5px 0px rgba(171, 171, 171, 1);
  top: 38px;
  animation: topLeftAni linear 0.4s;
  display: none;
}

.My-Account li {
  width: 100%;
  padding: 10px;
}

.My-Account li:hover {
  background: rgb(240, 239, 239);
  color: #d7182a;
  cursor: pointer;
}

/*----------------------------------------------------------------- NAV -----------------------------------------------------------------*/
.nav-right {
  width: 350px;
}

/*--------------------------------------- CSS cho nút search -----------------------------------*/
.search_box {
  overflow: hidden;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: none;
  transition: all 0.5s ease;
  margin: 0 15px;
}

.search_box_input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
  padding: 0 50px 0 20px;
}

.search_box button {
  position: absolute;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 18px;
  top: 0;
  right: 0;
  background-color: #fff;
}

.search_box.open {
  width: 200px;
  border: 1px solid #ccc;
}

.nav {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid var(--line_color);
  background-color: #fff;
}

.nav .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  height: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav-left img {
  width: 100%;
  object-fit: fill;
  object-position: center;
  cursor: pointer;
}

.nav-mid {
  width: 75%;
  height: 100%;
}

.nav-mid > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mid > ul > li {
  font-size: 14px;
  font-weight: 600;
  margin: 0 8px;
  cursor: pointer;
  height: 70%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mid > ul > li > i {
  margin-left: 5px;
  margin-bottom: 8px;
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-right li {
  font-size: 18px;
  cursor: pointer;
}

.nav-right li:nth-child(1) {
  margin: 0 15px;
}

.cart {
  position: relative;
  height: 60%;
  align-items: center;
  display: flex;
}

.cart_noti {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary_color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  top: 0%;
  right: -30%;
}

.cart_content {
  position: absolute;
  top: 95%;
  right: 0;
  width: 350px;
  height: 200px;
  z-index: 1000;
  background-color: #fff;
  transform-origin: calc(100% - 20px) top;
  animation: cart_contentAni ease-in 0.22s;
  border: 1px solid #ccc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}

@keyframes cart_contentAni {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cart:hover .cart_content {
  display: flex;
}

.cart_content img {
  width: 40%;
}

.cart_content_zero p {
  font-size: 15px;
}

/*--------------------------------------------------------- Drop down nav ----------------------------------------------------------*/
.nav-mid > ul > li {
  position: relative;
}

.nav a:hover {
  text-decoration: none !important;
}

.nav-mid > ul > li:hover {
  color: var(--primary_color);
}

@keyframes navAni {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.promotion,
.blog {
  z-index: 2;
  position: absolute;
  background: #fff;
  box-shadow: 5px -3px 5px 0px rgba(171, 171, 171, 0.5);
  padding: 15px;
  justify-content: center;
  color: #000;
  border: 0.5px solid var(--line_color);
  top: 50px;
  animation: navAni linear 0.3s;
  display: none;
  color: rgb(148, 148, 148);
}

.promotion > ul,
.blog > ul {
  padding: 0 10px 0 20px;
}

.promotion > ul > li:nth-child(2),
.blog > ul > li:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid var(--line_color);
  color: #000;
}

.nav-mid > ul > li:nth-child(2):hover .promotion,
.nav-mid > ul > li:nth-child(3):hover .blog {
  display: flex;
}

.promotion > ul > li,
.blog > ul > li {
  padding: 10px 0;
  font-size: 13px;
  font-weight: normal;
}

.promotion > ul > li:hover,
.blog > ul > li:hover {
  color: var(--primary_color);
}

.promotion > ul > li:nth-child(2):hover,
.blog > ul > li:nth-child(1):hover {
  color: #000;
}

/*----------------------  PROMOTION ----------------------------*/
.promotion {
  z-index: 1000;
  left: -300%;
}

.promotion > ul > li:nth-child(1) {
  overflow: hidden;
}

.promotion > ul > li:nth-child(1) img {
  object-fit: fill;
  object-position: center;
  transition: all 0.3s;
  height: 100px;
  width: 150px;
  object-fit: contain;
}

.promotion > ul > li:nth-child(1) img:hover {
  transform: scale(0.9);
  /* zoom to ra khoảng 1.2 lần*/
}

/*------------------- BLOG ------------------------*/
.blog {
  z-index: 1000;
  left: -250px;
}

.blog ul {
  position: relative;
}

.blog img {
  height: 100px;
  width: 150px;
  object-fit: contain;
}

.nav-show-brand {
  /* display: flex !important; */
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 1000px;
  left: -500%;
}

.nav-show-brand div {
  margin: 5px;
}
