@import '../css/general.css';
@import '../css/footer.css';
@import '../css/header.css';
@import '../css/responsive/rpHeader.css';

/*---------------------------------------------- Login  --------------------------------*/
.login {
  background-image: url('../image/login/background.png');
  height: 600px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center center;
  background-size: 100% 100%;
}

.login .container {
  height: 100%;
  position: relative;
}

.login .container > img {
  height: 100%;
}

.login_form {
  background-color: #fff;
  position: absolute;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
  border-radius: 0.25rem;
  overflow: hidden;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

.login_form_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login_form_item {
  display: flex;
  flex-direction: column;
}

.loginError_item {
  margin-bottom: 20px;
  font-size: 12px;
  color: #ee4d2d;
}

.login_form_top > span {
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

.login_form_top_noti {
  background-color: #fefaec;
  border-radius: 2px;
  width: 170px;
  height: 50px;
  border: 1px solid #ffc312;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 30px;
}

.login_form_top_noti span {
  font-size: 16px;
  color: #ffc312;
}

.login_form_top_noti_right {
  position: absolute;
  width: 12px;
  height: 15px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background-color: #ffc312;
  right: -12px;
  border-left: none;
}

.login_form_top img {
  width: 50px;
}

.form-group {
  margin: 30px 0 20px;
}

.form-group input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.login_form .lgform button {
  width: 100%;
  border: none;
  background: #ee4d2d;
  border-radius: inherit;
  font-size: 18px;
  outline: none;
}

.login_form > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}

.login_form > ul li span {
  font-size: 12px;
  color: #4a86c3;
}

.login_form_chose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.login_form_chose .line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.login_form_chose span {
  color: #ccc;
  font-size: 15px;
  margin: 0 10px;
}

.login_form_with {
  height: 40px;
  margin: 20px 0;
}

.login_form_with ul,
.login_form_with ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.login_form_with ul li {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 32%;
  justify-content: space-evenly;
}

.login_form_with ul li img {
  height: 70%;
}

.login_form_with ul li span {
  font-size: 12px;
}

.login_form_bot {
  margin-top: 40px;
  text-align: center;
}

.login_form_bot span {
  font-size: 15px;
  color: #ccc;
}

.login_form_bot a {
  color: #ee4d2d !important;
}

.loginError {
  color: #ee4d2d;
}
