<!-- Footer-->
<footer>
    <div class="footer_img">
        <img src="../image/footer.png" alt="">
    </div>
    <div class="container">
        <div class="footer_container row">
            <div class="col-lg">
                <h3>ABOUT US</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been
                    the industry's standard dummy text ever since the 1500s</span>
            </div>
            <div class="col-lg">
                <h3>INFORMATION</h3>
                <li><a href="#">Product Support</a></li>
                <li><a href="#">PC setup & Support</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Extended Service Plans</a></li>
                <li><a href="#">Community</a></li>
            </div>
            <div class="col-lg">
                <h3>CUSTOMER SERVICE</h3>
                <li><a href="#">Shipping guide</a></li>
                <li><a href="#">Store location</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Customer point policy</a></li>
                <li><a href="#">Customer point policy</a></li>
            </div>
            <div class="col-lg">
                <h3>MY ACCOUNT</h3>
                <li><a href="#">Contact Us</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Help Center</a></li>
            </div>
            <div class="col-lg">
                <h3>CONTACT US</h3>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> No 40 Baria Sreet 133/2 NewYork City,NY,United
                        States</a></li>
                <li><a href="#"><i class="fas fa-mobile-alt"></i>0123456789</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>contact@example.com</a></li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>@2022 WordPress Theme SW 9Merry. All Rights Reserved. Dessigned by <a href="#">PTN</a> </span>
            </div>
            <div class="col-lg-6 nam">
                <li><i class="fab fa-cc-paypal"></i></li>
                <li><i class="fab fa-cc-visa"></i></li>
            </div>
        </div>
    </div>
</footer>