<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<div class="login">
    <div class="container">
        <div class="login_form">
            <div class="login_form_top">
                <span>LOGIN</span>
                <div class="login_form_top_noti">
                    <span>Login with QR code</span>
                    <div class="login_form_top_noti_right"></div>
                </div>
                <img src="../image/login/qrcode.png" alt="">
            </div>
            <div class="lgform">
                <div class="form-group login_form_item">
                    <input type="text" class="form-control" id="username" placeholder="Phone Number" name="username">
                </div>
                <div class="form-group login_form_item">
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
                <div class="loginError_item">
                    <span id="loginError"></span>
                </div>
                <button class="btn btn-primary" onclick="Loginform();">Login</button>
            </div>
            <ul>
                <li>
                    <span>Forgot password</span>
                </li>
                <li>
                    <span>login with SMS</span>
                </li>
            </ul>
            <div class="login_form_chose">
                <div class="line"></div>
                <span>OR</span>
                <div class="line"></div>
            </div>
            <div class="login_form_with">
                <ul>
                    <li>
                        <img src="../image/login/facebook.png" alt="">
                        <span>Facebook</span>
                    </li>
                    <li>
                        <img src="../image/login/google.png" alt="">
                        <span>Google</span>
                    </li>
                    <li>
                        <img src="../image/login/apple.png" alt="">
                        <span>Apple</span>
                    </li>
                </ul>
            </div>
            <div class="login_form_bot">
                <span>Do you know Merry</span> 
                <a href=""> Register now </a>
            </div>
        </div>
    </div>
</div>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>   

    <script src="../js/login.js"></script>
</html>